<div class="bg-light contentblock-extender">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text">
                <h2 class="text-headline h1 mb-xl-4" data-aos="fade-up">Kontrolle</h2>
            </div>
        </div>
    </div>
    <div class="container contentblock-spacer" id="content-intro">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text">
                <h2 class="h2 text-headline" data-aos="fade-up">Wildfleisch</h2>
                <div class="text-content mb-0" data-aos="fade-up">
                    <div class="ezrichtext-field"><p style="text-align:left;">Beim Wild kann durch eine Reihe von
                            Kontrollpunkten sichergestellt werden, dass nur Fleisch und Fleischprodukte von bester
                            Qualit&auml;t verarbeitet werden und zur Auslieferung an den Kunden gelangen.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container contentblock-spacer" style="margin-top: -4rem;">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text">
                <tabs
                    :items="[{&quot;id&quot;:310,&quot;name&quot;:&quot;1. Kontrolle&quot;,&quot;headline&quot;:&quot;... durch den J\u00e4ger VOR Erlegung des Wildes&quot;,&quot;text&quot;:&quot;    &lt;div     class=\&quot;ezrichtext-field\&quot;&gt;&lt;ul&gt;&lt;li&gt;Allgemeinbefinden&lt;\/li&gt;&lt;li&gt;Verhalten des Tieres&lt;\/li&gt;&lt;\/ul&gt;\n&lt;\/div&gt;\n&quot;},{&quot;id&quot;:311,&quot;name&quot;:&quot;2. Kontrolle&quot;,&quot;headline&quot;:&quot;... NACH Erlegung des Wildes&quot;,&quot;text&quot;:&quot;    &lt;div     class=\&quot;ezrichtext-field\&quot;&gt;&lt;ul&gt;&lt;li&gt;Untersuchung nach Auff&amp;auml;lligkeiten des Wildk&amp;ouml;rpers durch die sogenannte &amp;bdquo;kundige Person&amp;ldquo;&lt;\/li&gt;&lt;li&gt;Erstellung und Best&amp;auml;tigung der Tauglichkeit mittels Wildbescheinigung&lt;\/li&gt;&lt;\/ul&gt;\n&lt;\/div&gt;\n&quot;},{&quot;id&quot;:312,&quot;name&quot;:&quot;3. Kontrolle&quot;,&quot;headline&quot;:&quot;... bei der Abholung von den Jagden&quot;,&quot;text&quot;:&quot;    &lt;div     class=\&quot;ezrichtext-field\&quot;&gt;&lt;ul&gt;&lt;li&gt;Frische&lt;\/li&gt;&lt;li&gt;Klassifizierung&lt;\/li&gt;&lt;li&gt;Keine Verunreinigungen&lt;\/li&gt;&lt;li&gt;Geringe Schussverletzungen&lt;\/li&gt;&lt;li&gt;Vorhandensein Wildbescheinigung&lt;\/li&gt;&lt;li&gt;Kein Brunftgeruch&lt;\/li&gt;&lt;\/ul&gt;\n&lt;\/div&gt;\n&quot;},{&quot;id&quot;:313,&quot;name&quot;:&quot;4. Kontrolle&quot;,&quot;headline&quot;:&quot;... beim Wareneingang bei AGER&quot;,&quot;text&quot;:&quot;    &lt;div     class=\&quot;ezrichtext-field\&quot;&gt;&lt;ul&gt;&lt;li&gt;Sensorische Pr&amp;uuml;fung&lt;\/li&gt;&lt;li&gt;Gewicht&lt;\/li&gt;&lt;li&gt;Vorhandensein Wildbescheinigung&lt;\/li&gt;&lt;li&gt;&amp;Uuml;berpr&amp;uuml;fungen wie zB. Temperatur und PH-Wert&lt;\/li&gt;&lt;li&gt;bei Wildschweinen: Probenentnahmen zur &amp;Uuml;berpr&amp;uuml;fung der Trichinella Spiralis&lt;\/li&gt;&lt;\/ul&gt;\n&lt;\/div&gt;\n&quot;},{&quot;id&quot;:314,&quot;name&quot;:&quot;5. Kontrolle&quot;,&quot;headline&quot;:&quot;... durch den amtlichen Veterin\u00e4r bei der Weiterverarbeitung&quot;,&quot;text&quot;:&quot;    &lt;div     class=\&quot;ezrichtext-field\&quot;&gt;&lt;p&gt;Beschau nach der Entha&amp;#776;utung&lt;\/p&gt;&lt;ul&gt;&lt;li&gt;Geruch&lt;\/li&gt;&lt;li&gt;Farbe&lt;\/li&gt;&lt;li&gt;Frische&lt;\/li&gt;&lt;li&gt;Schusskanal&lt;\/li&gt;&lt;\/ul&gt;\n&lt;\/div&gt;\n&quot;},{&quot;id&quot;:315,&quot;name&quot;:&quot;6. Kontrolle&quot;,&quot;headline&quot;:&quot;... bei der Verarbeitung und Verpackung&quot;,&quot;text&quot;:&quot;    &lt;div     class=\&quot;ezrichtext-field\&quot;&gt;&lt;p&gt;Durch den Mitarbeiter:&lt;\/p&gt;&lt;ul&gt;&lt;li&gt;Zuschnitt&lt;\/li&gt;&lt;li&gt;Fremdk&amp;ouml;rper&lt;\/li&gt;&lt;li&gt;Temperatur&lt;\/li&gt;&lt;li&gt;Optik&lt;\/li&gt;&lt;li&gt;Geruch&lt;\/li&gt;&lt;li&gt;Gewicht&lt;\/li&gt;&lt;li&gt;Etikettierung&lt;\/li&gt;&lt;\/ul&gt;&lt;p&gt;Durch den Vorgesetzten:&lt;\/p&gt;&lt;ul&gt;&lt;li&gt;Einhaltung Qualit&amp;auml;tsvorgaben&lt;\/li&gt;&lt;li&gt;Einhaltung der Hygienevorschriften&lt;\/li&gt;&lt;\/ul&gt;\n&lt;\/div&gt;\n&quot;},{&quot;id&quot;:316,&quot;name&quot;:&quot;7. Kontrolle&quot;,&quot;headline&quot;:&quot;... im Expedit&quot;,&quot;text&quot;:&quot;    &lt;div     class=\&quot;ezrichtext-field\&quot;&gt;&lt;ul&gt;&lt;li&gt;sachgerechte Lagerung (tiefgek&amp;uuml;hlt, gek&amp;uuml;hlt)&lt;\/li&gt;&lt;li&gt;fachgerechte Kennzeichnung&lt;\/li&gt;&lt;li&gt;Hygienezustand&lt;\/li&gt;&lt;\/ul&gt;\n&lt;\/div&gt;\n&quot;},{&quot;id&quot;:326,&quot;name&quot;:&quot;Laufend&quot;,&quot;headline&quot;:&quot;Laufend&quot;,&quot;text&quot;:&quot;    &lt;div     class=\&quot;ezrichtext-field\&quot;&gt;&lt;ul&gt;&lt;li&gt;Mitarbeiterschulungen&lt;\/li&gt;&lt;li&gt;Hygiene&amp;uuml;berpr&amp;uuml;fungen&lt;\/li&gt;&lt;li&gt;Qualit&amp;auml;tskontrollen&lt;\/li&gt;&lt;li&gt;Laboruntersuchungen&lt;\/li&gt;&lt;li&gt;Temperaturkontrollen&lt;\/li&gt;&lt;\/ul&gt;\n&lt;\/div&gt;\n&quot;}]"
                    class="text-left" data-aos="fade-up"/>
            </div>
        </div>
    </div>

    <div class="container contentblock-spacer" id="content-intro">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text">
                <h2 class="h2 text-headline" data-aos="fade-up">Schweinefleisch</h2>
                <div class="text-content mb-0" data-aos="fade-up">
                    <div class="ezrichtext-field"><p style="text-align:left;">Da wir sehr auf Regionalita&#776;t
                            setzen, verarbeiten wir nur Schweinefleisch von o&#776;sterreichischer Herkunft. (4 x
                            AT) Bei der Anlieferung werden sa&#776;mtliche Kontrollparameter wie zB. Temperatur, ph-
                            Wert, Sensorik, Zuschnitt, ... gepru&#776;ft und dokumentiert.</p>
                        <p style="text-align:left;">Unsere Schweinefleisch-Lieferanten sind alle zertifiziert und
                            wir kennen jeden Einzelnen perso&#776;nlich: <strong>Das schafft Vertrauen.</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
