.usp {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    color: $black;
    padding: 0 1rem;

    @include media-breakpoint-down(md) {
        &-outer {
            margin-bottom: 5rem;

            @include media-breakpoint-only(md) {
                &:nth-last-child( 2 ) {
                    margin-bottom: 0;
                }
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &-icon {
        margin-bottom: 2.5rem;
        font-size: 4rem;
        color: transparentize($black, 0.3);
        @include media-breakpoint-down(sm) {
            margin-bottom: 1.5rem;
        }
    }

    &-headline {
        font-size: 2.2rem;
        margin-top: 0;
        margin-bottom: 2rem;
        letter-spacing: $letter-spacing;
        line-height: 1em;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        font-family: $font-primary;
        @include media-breakpoint-down(sm) {
            margin-bottom: 1.5rem;
        }
    }

    &-text {
        font-size: 1.5rem;
        margin-top: 0;
        margin-bottom: 2rem;
        color: #6b6b6b; // @Todo variable
        font-family: $font-secondary;
        @include media-breakpoint-down(lg) {
            font-size: 1.4rem;
        }
        @include media-breakpoint-down(sm) {
            margin-bottom: 1.5rem;
        }
    }

    &-btn {
        font-size: 1.6rem;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        font-family: $font-primary;
        letter-spacing: $letter-spacing;
        color: $black;
        transition: 0.3s ease-in-out;
    }

    &:hover {
        text-decoration: none;
        color: $black;

        .usp-btn {
            transition: 0.3s ease-in-out;
            color: $primary;
        }
    }
}
