.hero {
    display: flex;
    align-content: center;
    justify-content: center;
    @include media-breakpoint-down(sm) {
        flex-direction: column;
    }

    &-image {
        width: calc(100% - 30vw);
        font-size: 0;
        @include media-breakpoint-down(sm) {
            max-width: 100%;
        }

        video {
            width: 100%;
        }
    }

    &-content {
        max-width: 30vw;
        width: 100%;
        background-color: $light;
        padding: 60px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        @include media-breakpoint-down(sm) {
            max-width: 100%;
            padding: 20px;
            width: 100%;
        }
    }
}