<div class="container contentblock-spacer" id="content-intro">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 text">
            <div class="row">
                <div class="col-md-6" data-aos="fade-up">
                    <img src="/assets/img/AT70278EG.png" width="100" />
                    <h3 class="mt-2 mb-2">AT 70278 EG</h3>
                    <div class="text-content">Wildfleischproduktion</div>
                </div>
                <div class="col-md-6" data-aos="fade-up">
                    <img src="/assets/img/FG_AT70244EG.png" width="100" />
                    <h3 class="mt-2 mb-2">AT 70244 EG</h3>
                    <div class="text-content">Räucherwaren- und Fertiggerichteproduktion</div>
                </div>
            </div>
        </div>
    </div>
</div>