<div class="page-content">
    <div id="overview">
        <div class="map">
            <vue-map></vue-map>
        </div>

        <div class="container contentblock-spacer">
            <div class="text text-left">
                <h1 class="text-headline text-center mb-sm-5 mb-3">Wir haben Ihr Interesse geweckt?</h1>
                <div class="row text-center">
                    <div class="col-md-4">
                        <h2 class="mt-sm-0 mt-2 mb-0 mb-sm-1">Adresse</h2>
                        <div class="text-content">
                            <div class="ezrichtext-field"><p>Am Steinerbach 20<br>6306 S&ouml;ll<br>&Ouml;sterreich</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h2 class="mt-sm-0 mt-2 mb-0 mb-sm-1">Kontakt</h2>
                        <div class="text-content">
                            <div class="ezrichtext-field">
                                <p>Tel:&nbsp;<a href="tel:+435332735950" title="">+43 5332 735 95-0</a><br>Email:
                                    <vue-decipher
                                        cipher='<n uers="znvygb:vasb@ntre.pp" gvgyr="">vasb@ntre.pp</n>'></vue-decipher>
                                    <br>Fax:&nbsp;+43 5332 748 88
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h2 class="mt-sm-0 mt-2 mb-0 mb-sm-1">Öffnungszeiten</h2>
                        <div class="text-content">
                            <div class="ezrichtext-field"><p>Montag bis Freitag<br>08:00 bis 12:00 Uhr<br>13:00 bis
                                    17:00 Uhr</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 text-center mt-3">
                        <a class="btn btn-outline-dark mb-3"
                           href="https://www.google.com/maps/dir//ager/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x4776344c76f2a6d9:0x35b06df573484412?sa=X&ved=2ahUKEwiKoLDCzMPjAhVFDOwKHTjfBiQQ9RcwAHoECAEQCQ"
                           target="_blank">Routenplaner</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
