
<div class="container contentblock-extender bg-white position-relative" style="z-index: 3;">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 text">
            <h1 class="text-headline" data-aos="fade-up">1971 bis heute ...</h1>
            <div class="text-content mb-0" data-aos="fade-up">    <div     class="ezrichtext-field"><p style="text-align:center;">&nbsp; &nbsp; &nbsp;</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="history-indicator"></div>

{% for i in pimcore_block("contentblock").iterator %}
    <div class="container position-relative history-outer{% if pimcore_block("contentblock").getCount() == loop.index  %} last{% endif %}">
        <div class="history-entry {% if loop.index % 2 == 0 %} second-history{% endif %}">
            {% if editmode or  pimcore_image("image").getData().id %}
                <div data-aos="fade-up history-slider">
                    <slick :options="slickOptions" :fade="true">
                        <div class="history-slider-entry">
                            <div class="history-slider-entry-image">
                                {{ pimcore_image("image", {
                                    "width": 120,
                                    "height": 120,
                                    "thumbnail":  "content"
                                }) }}
                            </div>
                        </div>
                    </slick>
                </div>
            {% endif %}
            <div class="history-entry-year" data-aos="fade-up" data-aos-delay="500">
                {{ pimcore_input("year", {"placeholder": "Year"}) }}
            </div>
            <div class="history-entry-text" data-aos="fade-up">
                {{ pimcore_wysiwyg("text", {"placeholder": "Text..."}) }}
            </div>
            <div class="history-entry-line"></div>
            <div class="history-entry-line-point"></div>
        </div>
    </div>
{% endfor %}
