<div id="download" class="container contentblock-spacer">
    <div class="row mt-4 mt-md-5  text-left justify-content-center">
        <div class="col-12 text-center"><h2 data-aos="fade-up"
                                            class="h1 text-headline animated-line-center aos-init aos-animate">
                Artikellisten</h2></div>
        <div class="col-lg-6 col-md-8 mt-sm-3 mb-sm-3">
            <div class="row align-items-center d-flex">
                <div data-aos="fade-up" class="col-md-5 col-3 mt-2 mb-2 mt-sm-0 mb-sm-0 aos-init aos-animate"><a
                        href="/content/download/171/847" data-name="Wild tiefgekühlt" class="gtm-download-file">
                        <figure class="ezimage-field"><img
                                src="https://www.ager.cc/var/site/storage/images/_aliases/card_widen/8/4/8/0/848-17-ger-DE/Artikelliste Wild TK.jpg"
                                alt="Wild TK" height="691" width="500" class="img-fluid catalog-img gtm-download-file">
                        </figure>
                    </a></div>
                <div data-aos="fade-up" class="col-md-7 col-9 aos-init aos-animate"><h3
                        class="catalog-name mb-1 mb-sm-2">Wild tiefgekühlt</h3>
                    <div class="ezrichtext-field"></div>
                    <a href="/admin/content/download/171/847" data-name="Wild tiefgekühlt"
                       class="catalog-link gtm-download-file"><i class="fas fa-download"></i> PDF downloaden</a></div>
            </div>
        </div>
        <div class="col-lg-6 col-md-8 mt-sm-3 mb-sm-3">
            <div class="row align-items-center d-flex">
                <div data-aos="fade-up" class="col-md-5 col-3 mt-2 mb-2 mt-sm-0 mb-sm-0 aos-init aos-animate"><a
                        href="/content/download/173/855" data-name="Wild frisch" class="gtm-download-file">
                        <figure class="ezimage-field"><img
                                src="https://www.ager.cc/var/site/storage/images/_aliases/card_widen/6/5/8/0/856-10-ger-DE/Artikelliste Wild frisch.jpg"
                                alt="Wild frisch" height="690" width="500"
                                class="img-fluid catalog-img gtm-download-file"></figure>
                    </a></div>
                <div data-aos="fade-up" class="col-md-7 col-9 aos-init aos-animate"><h3
                        class="catalog-name mb-1 mb-sm-2">Wild frisch</h3>
                    <div class="ezrichtext-field"></div>
                    <a href="/content/download/173/855" data-name="Wild frisch"
                       class="catalog-link gtm-download-file"><i class="fas fa-download"></i> PDF downloaden</a></div>
            </div>
        </div>
    </div>
</div>