{# get root node if there is no document defined (for pages which are routed directly through static route) #}
{% if not document is defined or not document %}
    {% set document = pimcore_document(1) %}
{% endif %}

{# get the document which should be used to start in navigation | default home #}
{% set navStartNode = document.getProperty('navigationRoot') %}
{% if not navStartNode is instanceof('\\Pimcore\\Model\\Document\\Page') %}
    {% set navStartNode = pimcore_document(1) %}
{% endif %}

{% set mainNavigation = pimcore_build_nav({
    active: document,
    root: navStartNode
}) %}


{% set navItems = [] %}


{% for page in mainNavigation %}
    {% set subItems = [] %}

    {% for subItem in page.getPages() %}
        {% set subItems = subItems|merge(
            {(loop.index0) : {
                'name': subItem.getTitle(),
                'url':  subItem.getUri(),
                'active': subItem.getId() == document.getId(),
                'icon': subItem.document.getProperty('navigationIcon'),
                'text': subItem.document.getProperty('navigationText'),
            }})
        %}
    {% endfor %}

    {% set navItems = navItems|merge(
        {(loop.index0) : {
            'name': page.getTitle(),
            'url':  page.getUri(),
            'active': page.getId() == document.getId() or page.getId() == document.getParent().getId()|default(0),
            'submenu': subItems,
            'megaMenu': true,
        }})
    %}
{% endfor %}

<div class="nav-outer">
    <vue-nav :items="{{ navItems|json_encode }}"></vue-nav>
</div>
